<aside class="sidebar">

    <div class="top">

        <button class="menu-btn">
            <i data-lucide="menu"></i>
        </button>

        <div class="profile">

            <img src="/logo-coud.png" class="logo">

           <div class="profile-info">
    <h3 id="sidebar-affectation"></h3>
    <p id="sidebar-fonction"></p>
</div>

            <button class="notif-btn">

                <i data-lucide="bell"></i>

                <span class="badge">3</span>

            </button>

        </div>

    </div>

    <div class="section">

        <h4>VOIR AUSSI</h4>

        <a href="#">
            <i data-lucide="shirt"></i>
            <span>Lingerie</span>
        </a>

        <a href="#">
            <i data-lucide="users"></i>
            <span>Résidents</span>
        </a>

        <a href="#">
            <i data-lucide="wallet"></i>
            <span>Recouvrement</span>
        </a>

    </div>

    <div class="section">

        <h4>BON DE TRAVAIL</h4>

        <a class="active" href="#">
            <i data-lucide="clipboard-list"></i>
            <span>Demandes</span>
        </a>

        <a href="#">
            <i data-lucide="clipboard-check"></i>
            <span>Suivi</span>
        </a>

        <a href="#">
            <i data-lucide="archive"></i>
            <span>Anciens bons</span>
        </a>

        <a href="#">
            <i data-lucide="history"></i>
            <span>Historique des demandes</span>
        </a>

    </div>

    <div class="section">

        <h4>GESTION</h4>

        <a href="#">
            <i data-lucide="layout-dashboard"></i>
            <span>Mon tableau de bord</span>
        </a>

    </div>

    <div class="bottom">

        <a href="#">
            <i data-lucide="log-out"></i>
            <span>Déconnexion</span>
        </a>

        <div class="agent-card">

            <div class="agent-avatar">
                <i data-lucide="user"></i>
            </div>

            <div>

                <strong id="sidebar-nom"></strong>

<small id="sidebar-email"></small>

            </div>

            <i data-lucide="chevron-down"></i>

        </div>

    </div>

</aside>